<!-- it 'renders the form' do
  visit '/new'
  expect(page).to have_selector("form")
  expect(page).to have_field(:name)
  expect(page).to have_field(:breed)
  expect(page).to have_field(:age)
end
end -->

<form method="POST" action="/puppy">
   <label for="name">Puppy Name:</label>
  <input type="text" name ="name"><br>
  <label for="breed">Puppy Breed:</label>
   <input type="text" name="breed"><br>
   <label for="age">Puppy Age:</label>
   <input type="text" name="age"><br>
   <h2><input type="submit" value="submit"></h2>
 </form>
